body {
    background-color: lightgrey;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: white;
    width: 400px;
    height: max-content;
    margin: 0 auto;
    border-radius: 10px;
}

.content {
    padding: 20px;
}

.lock-image {
    width: 50px;
}

.heading {
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
}

.password-input {
    width: 100%;
    border: none;
    display: none;
    outline: none;
}

.password-container {
    width: 80%;

    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.input-container {
    border: 1px lightgrey solid;
    height: 61px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.input-container-col {
    flex-direction: column;
}

.password-label {
    color: #9d9d9d;
}

.show-password {
    color: #2c213f;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}

.password-strength {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.validation-list {
    margin-bottom: 20px;
}

.validation-items {
    padding: 0;
    list-style: none;
}

.validation-item {
    display: flex;
    align-items: center;
}

.validation-item:not(:last-child) {
    margin-bottom: 5px;
}

.validation-item-dot-1,
.validation-item-dot-2,
.validation-item-dot-3 {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 100px;
    background-color: #b7b7bf;
}

.validation-item-check-1,
.validation-item-check-2,
.validation-item-check-3 {
    color: #2c213f;
    display: none;
    margin-right: 5px;
}

.bar {
    height: 5px;
    border-radius: 100px;
}

.progress-bar {
    width: 120px;
    height: 5px;
    margin: 0 10px;
    border-radius: 100px;
    background-color: #dddddf;
}

.validation-item-text {
 color: #b7b7bf;
 font-size: 12px;
}

.button {
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #732ccc;
}

.forgot-password-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.forgot-password-link {
    color: #2c213f;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}